@tailwind base;
@tailwind components;
@tailwind utilities;

.back{
    background-image: url('../public/img/download.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.border{
    border: 2px solid red;
    margin-left: 10px;
}
.btn{
    border: 2px solid white;
    margin-top: 20px;
    
}